body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  padding: 0 2rem;
}
h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
/* .countainer {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  width: 50%;
} */

.form {
  background-color: rgb(196, 193, 193);
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 20vh;
  padding: 3vh;
  border-radius: 10px;
}

label {
  font-size: 20px;
}
input {
  width: 20vw;
  margin-top: 10px;
  height: 5vh;
  border-radius: 10px;
}
.btn {
  margin: 20px;
  margin-top: 10px;
  height: 5vh;
  border-radius: 10px;
  width: 10vw;
  align-items: center;
  text-align: center;
  margin: auto;
}
button:hover {
  background-color: lightblue;
  cursor: pointer;
}
h1 {
  align-items: center;
  text-align: center;
}
